body {
  font-family: "Lato";
  margin: 0;
  font-weight: 400;
  line-height: 1.5;
  background: linear-gradient(102.24deg, #f31768 0%, #f5d323 100%);
  background-repeat: no-repeat;
  overflow-y: hidden;
}

input:focus {
  outline: none;
}

.FirstH1 {
  font-weight: 500;
  color: white;
}

.FirstDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 150px 50px;
  height: 100vh;
}

.UserEmailInput {
  width: 250px;
  height: 35px;
  border-radius: 20px;
  border: none;
  text-align: center;
  font-size: 15px;
}

.PasswordInput {
  width: 250px;
  height: 35px;
  border-radius: 20px;
  border: none;
  margin-top: 10px;
  margin-bottom: 15px;
  text-align: center;
  font-size: 15px;
}

.SignInButton {
  width: 220px;
  height: 40px;
  border-radius: 22px;
  border: 2px solid black;
  font-size: 20px;
  color: white;
  background: transparent;
  transition: 0.8s;
  cursor: pointer;

  &:hover {
    background: white;
    color: black;
    border: 1px solid white;
  }
}
